Repository blkbrds/intern16-practice, pull requests merged in 2020-07, with the labels that each got.

#31 MinhNguyen - SwiftBasic - Bai Tap 02
  02_SwiftBasic/MinhNguyen T/bai 2.1.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.1.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.2.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.2.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.3.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.3.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.4.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.4.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.5.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.5.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.6.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.6.playground/contents.xcplayground
  02_SwiftBasic/MinhNguyen T/bai 2.7.playground/Contents.swift
  02_SwiftBasic/MinhNguyen T/bai 2.7.playground/contents.xcplayground
Labels: 02 Basic Swift

#29 HOANGUYEN - Phần Swift Basic - Bài 1,2,3,4,5,6,7
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.01.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.01.playground/contents.xcplayground
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.02.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.02.playground/contents.xcplayground
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.03.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.03.playground/contents.xcplayground
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.04.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.04.playground/contents.xcplayground
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.05.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.06.playground/Contents.swift
  02_SwiftBasic/HOANGUYEN/baitap02/baitap2.07.playground/Contents.swift
Labels: 02 Basic Swift

#41 HUYENNGUYEN - OOP Swift - Bài tập 1->10
  03_SwiftOOP/HUYENNGUYEN/Baitap3.1.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.1.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.10.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.10.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.2.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.2.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.3.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.3.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.4.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.4.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.5.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.5.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.6.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.6.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.7.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.7.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.8.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.8.playground/contents.xcplayground
  03_SwiftOOP/HUYENNGUYEN/Baitap3.9.playground/Contents.swift
  03_SwiftOOP/HUYENNGUYEN/Baitap3.9.playground/contents.xcplayground
Labels: 03 OOP

#26 TrungLe - Bài Tập Basic Swift - Hoàn Thành 7 Bài Tập Swift Basic
  02_SwiftBasic/TRUNGLE/Bai_Tap_02.1.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_Tap_02.1.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_Tap_02.2.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_Tap_02.2.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_tap_02.3.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_tap_02.3.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_tap_02.4.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_tap_02.4.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_tap_02.5.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_tap_02.5.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_tap_02.6.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_tap_02.6.playground/contents.xcplayground
  02_SwiftBasic/TRUNGLE/Bai_tap_02.7.playground/Contents.swift
  02_SwiftBasic/TRUNGLE/Bai_tap_02.7.playground/contents.xcplayground
Labels: 02 Basic Swift

#42 MINHNGUYEN - Phan OOP - Bai tap 1-10
  03_SwiftOOP/MinhNguyen T/Bai 3.3.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/Bai 3.3.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.1.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.1.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.10.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.10.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.2.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.2.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.4.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.4.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.5.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.5.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.6.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.6.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.7.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.7.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.8.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.8.playground/contents.xcplayground
  03_SwiftOOP/MinhNguyen T/bai 3.9.playground/Contents.swift
  03_SwiftOOP/MinhNguyen T/bai 3.9.playground/contents.xcplayground
Labels: 03 OOP

#38 HaVan - Bài tập OOP - Bài 1 đến 10
  03_SwiftOOP/HaVan/BaiTap1.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap1.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap10.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap10.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap2Va3.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap2Va3.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap4.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap4.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap5.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap5.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap6.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap6.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap7.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap7.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap8.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap8.playground/contents.xcplayground
  03_SwiftOOP/HaVan/BaiTap9.playground/Contents.swift
  03_SwiftOOP/HaVan/BaiTap9.playground/contents.xcplayground
  04_View/HaVan/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Labels: 03 OOP

#44 TrinNguyen - Swift OOP - Hoàn thành 10 bài OOP
  03_SwiftOOP/TrinNguyen/BaiTap01.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap01.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap02.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap02.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap04.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap04.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap05.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap05.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap06.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap06.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap07.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap07.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap08.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap08.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap09.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap09.playground/contents.xcplayground
  03_SwiftOOP/TrinNguyen/BaiTap10.playground/Contents.swift
  03_SwiftOOP/TrinNguyen/BaiTap10.playground/contents.xcplayground
Labels: 03 OOP

#36 TamNguyen - Swift OOP - Hoàn thành 10 bài OOP
  03_SwiftOOP/TAMNGUYEN/Bai3.10.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.10.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.2.3.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.2.3.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.5.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.5.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.6.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.6.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.7.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.7.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.8.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.8.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Bai3.9.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Bai3.9.playground/contents.xcplayground
  03_SwiftOOP/TAMNGUYEN/Baitap3.1.playground/Contents.swift
  03_SwiftOOP/TAMNGUYEN/Baitap3.1.playground/contents.xcplayground
  04_View/TAMNGUYEN.xcodeproj/project.pbxproj
  04_View/TAMNGUYEN.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/TamNguyen/Baitap5/Baitap5.swift
  04_View/TamNguyen/Baitap5/Baitap5.xib
Labels: 03 OOP

#30 NguyenTranT - Bai Tap 2 - Swift Basic
  01_GioiThieu/NguyenTran/Baitap01/Baitap01.xcodeproj/project.pbxproj
  01_GioiThieu/NguyenTran/Baitap01/Baitap01.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  01_GioiThieu/NguyenTran/Baitap01/Baitap01.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/AppDelegate.swift
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/Assets.xcassets/AppIcon.appiconset/Contents.json
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/Assets.xcassets/Contents.json
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/Base.lproj/LaunchScreen.storyboard
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/Info.plist
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/MyViewController.swift
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/MyViewController.xib
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/Preview Content/Preview Assets.xcassets/Contents.json
  01_GioiThieu/NguyenTran/Baitap01/Baitap01/SceneDelegate.swift
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-1.playground/Contents.swift
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-1.playground/contents.xcplayground
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-2.playground/Contents.swift
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-2.playground/contents.xcplayground
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-3.playground/Contents.swift
  01_GioiThieu/NguyenTran/Baitap02/Baitap2-3.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-1.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-1.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-2.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-2.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-3.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-3.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-fibonacci.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-fibonacci.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-happynum.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-happynum.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-sincos.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-4-sincos.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-5.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-5.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-6.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-6.playground/contents.xcplayground
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-7.playground/Contents.swift
  02_SwiftBasic/NguyenTran/Baitap02/Baitap2-7.playground/contents.xcplayground
  NguyenTT/Baitap01/Baitap01.xcodeproj/project.xcworkspace/xcuserdata/mba0245p.xcuserdatad/UserInterfaceState.xcuserstate
  NguyenTT/Baitap01/Baitap01.xcodeproj/xcuserdata/mba0245p.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: 02 Basic Swift

#39 HOANGUYEN - Phần Swift OOP - Bài 1-10
  03_SwiftOOP/HOANGUYEN/baitap03/baitap01.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap01.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap02+03.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap02+03.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap04.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap04.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap05.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap05.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap06.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap06.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap07.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap07.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap08.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap08.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap09.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap09.playground/contents.xcplayground
  03_SwiftOOP/HOANGUYEN/baitap03/baitap10.playground/Contents.swift
  03_SwiftOOP/HOANGUYEN/baitap03/baitap10.playground/contents.xcplayground
Labels: 03 OOP

#34 Hieu Nguyen - Bai Tap 03
  03_SwiftOOP/HieuNguyen/BaiTap3.1.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.1.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.10.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.10.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.2-3.4.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.2-3.4.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.5.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.5.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.6.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.6.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.7.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.7.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.8.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.8.playground/contents.xcplayground
  03_SwiftOOP/HieuNguyen/BaiTap3.9.playground/Contents.swift
  03_SwiftOOP/HieuNguyen/BaiTap3.9.playground/contents.xcplayground
Labels: 03 OOP

#33 HienNguyen - Basic Swift - Bài tập số 1 & 7 (lần 1)
  02_SwiftBasic/HIENNGUYEN4:Baitap2_lan1/MyPlayground.playground/Contents.swift
Labels: 02 Basic Swift

#43 Khanh Phan - Bài tập phần Swift OOP
  03_SwiftOOP/KHANHPN/Bài 1.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 1.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 10.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 10.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 2+3.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 2+3.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 4.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 4.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 5.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 5.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 6.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 6.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 8.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 8.playground/contents.xcplayground
  03_SwiftOOP/KHANHPN/Bài 9.playground/Contents.swift
  03_SwiftOOP/KHANHPN/Bài 9.playground/contents.xcplayground
Labels: 03 OOP

#54 Minh Nguyen - Bai Tap 04 - Phan View
  04_View/Minh Nguyen T/BaiTapView/BaiTapView.xcodeproj/project.pbxproj
  04_View/Minh Nguyen T/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/Minh Nguyen T/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/AppDelegate.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/Contents.json
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/avartar.imageset/Contents.json
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/avartar.imageset/avartar.png
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/tao.imageset/Contents.json
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/tao.imageset/tao.png
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/thongbao.imageset/Contents.json
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Assets.xcassets/thongbao.imageset/Screen Shot 2020-07-01 at 22.28.24.png
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap1/BaiTap1ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap1/BaiTap1ViewController.xib
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap2/BaiTap2ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap3/BaiTap3ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap3/BaiTap3ViewController.xib
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap4/BaiTap4ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap4/BaiTap4ViewController.xib
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap5/BaiTap5ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap5/BaiTap5ViewController.xib
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap6/BaiTap6ViewController.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/BaiTap6/BaiTap6ViewController.xib
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Base.lproj/LaunchScreen.storyboard
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/Info.plist
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/SceneDelegate.swift
  04_View/Minh Nguyen T/BaiTapView/BaiTapView/ViewController.swift
Labels: 04 View

#47 Hieu Nguyen - Bai Tap 04
  03_SwiftOOP/HieuNguyen/BaiTap3.6.playground/playground.xcworkspace/contents.xcworkspacedata
  03_SwiftOOP/HieuNguyen/BaiTap3.6.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  03_SwiftOOP/HieuNguyen/BaiTap3.6.playground/playground.xcworkspace/xcuserdata/pci0020.xcuserdatad/UserInterfaceState.xcuserstate
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/project.pbxproj
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/project.xcworkspace/xcuserdata/hieungq.xcuserdatad/UserInterfaceState.xcuserstate
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/project.xcworkspace/xcuserdata/pci0020.xcuserdatad/UserInterfaceState.xcuserstate
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/xcuserdata/hieungq.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/xcuserdata/hieungq.xcuserdatad/xcschemes/xcschememanagement.plist
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/xcuserdata/pci0020.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  04_View/HieuNguyen/BaiTap04/BaiTap04.xcodeproj/xcuserdata/pci0020.xcuserdatad/xcschemes/xcschememanagement.plist
  04_View/HieuNguyen/BaiTap04/BaiTap04/AppDelegate.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/22212-monkey-icon.imageset/22212-monkey-icon.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/22212-monkey-icon.imageset/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/Lol_circle.imageset/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/Lol_circle.imageset/Lol_circle.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/circle.imageset/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/circle.imageset/Lol_circle.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/defaultProfileImage.imageset/Contents.json
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage@2x.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage@3x.png
  04_View/HieuNguyen/BaiTap04/BaiTap04/Base.lproj/LaunchScreen.storyboard
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap01VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap02VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap03VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap03VC.xib
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap04VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap04VC.xib
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap05VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap05VC.xib
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap06VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap06VC.xib
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap07VC.swift
  04_View/HieuNguyen/BaiTap04/BaiTap04/Controller/BaiTap07VC.xib
  04_View/HieuNguyen/BaiTap04/BaiTap04/Info.plist
  04_View/HieuNguyen/BaiTap04/BaiTap04/SceneDelegate.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05.xcodeproj/project.xcworkspace/xcuserdata/pci0020.xcuserdatad/UserInterfaceState.xcuserstate
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05.xcodeproj/xcuserdata/pci0020.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: 04 View

#46 NguyenTranT - Bai Tap 3 - OOP
  03_SwiftOOP/NguyenTran/Baitap3_1.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_1.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_10.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_10.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_2.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_2.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_3.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_3.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_4.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_4.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_5.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_5.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_6.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_6.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_7.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_7.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_8.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_8.playground/contents.xcplayground
  03_SwiftOOP/NguyenTran/Baitap3_9.playground/Contents.swift
  03_SwiftOOP/NguyenTran/Baitap3_9.playground/contents.xcplayground
Labels: 03 OOP

#59 NguyenTranT - Bai tap 04 - View
  04_View/NguyenTran/Baitap4/Baitap4.xcodeproj/project.pbxproj
  04_View/NguyenTran/Baitap4/Baitap4.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/NguyenTran/Baitap4/Baitap4.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/NguyenTran/Baitap4/Baitap4/AppDelegate.swift
  04_View/NguyenTran/Baitap4/Baitap4/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/NguyenTran/Baitap4/Baitap4/Assets.xcassets/Contents.json
  04_View/NguyenTran/Baitap4/Baitap4/Baitap1ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap1ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap2ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap2ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap3ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap3ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap4ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap4ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap5ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap5ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap6ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap6ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Baitap7ViewController.swift
  04_View/NguyenTran/Baitap4/Baitap4/Baitap7ViewController.xib
  04_View/NguyenTran/Baitap4/Baitap4/Base.lproj/LaunchScreen.storyboard
  04_View/NguyenTran/Baitap4/Baitap4/Info.plist
  04_View/NguyenTran/Baitap4/Baitap4/SceneDelegate.swift
  04_View/NguyenTran/Baitap4/Baitap4/Supporting file/avatar.png
  04_View/NguyenTran/Baitap4/Baitap4/Supporting file/monkey.png
Labels: 04 View

#49 TrinNguyenX - BaiTap04 - View
  04_View/TrinNguyen/BaiTapView/BaiTapView.xcodeproj/project.pbxproj
  04_View/TrinNguyen/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/TrinNguyen/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/TrinNguyen/BaiTapView/BaiTapView/AppDelegate.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/Contents.json
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_avatar_01.imageset/Contents.json
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_avatar_01.imageset/avatar.png
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_chat_01.imageset/1379096-cartoon-chat-box-material-gradient-chat-box-cartoon-png-image-and-clipart-chat-png-650_523_preview.png
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_chat_01.imageset/Contents.json
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_monkey_01.imageset/Contents.json
  04_View/TrinNguyen/BaiTapView/BaiTapView/Assets.xcassets/img_monkey_01.imageset/images.png
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap01/BaiTap01.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap01/BaiTap01.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap02/BaiTap02.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap02/BaiTap02.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap03/BaiTap03.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap03/BaiTap03.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap04/BaiTap04.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap04/BaiTap04.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap05/BaiTap05.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap05/BaiTap05.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap06/BaiTap06.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap06/BaiTap06.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap07/BaiTap07.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/BaiTap07/BaiTap07.xib
  04_View/TrinNguyen/BaiTapView/BaiTapView/Base.lproj/LaunchScreen.storyboard
  04_View/TrinNguyen/BaiTapView/BaiTapView/Info.plist
  04_View/TrinNguyen/BaiTapView/BaiTapView/SceneDelegate.swift
  04_View/TrinNguyen/BaiTapView/BaiTapView/ViewController.swift
Labels: 04 View

#70 HaVan - Phần View - Bài 1 đến 7
  04_View/HaVan/BaiTapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/HaVan/BaiTapView/Assets.xcassets/Contents.json
  04_View/HaVan/BaiTapView/Assets.xcassets/avatar.imageset/Contents.json
  04_View/HaVan/BaiTapView/Assets.xcassets/avatar.imageset/avatar.png
  04_View/HaVan/BaiTapView/Assets.xcassets/avatar.imageset/avatar@2x.png
  04_View/HaVan/BaiTapView/Assets.xcassets/avatar.imageset/avatar@3x.png
  04_View/HaVan/BaiTapView/Assets.xcassets/panda.imageset/Contents.json
  04_View/HaVan/BaiTapView/Assets.xcassets/panda.imageset/panda.png
  04_View/HaVan/BaiTapView/Assets.xcassets/panda.imageset/panda@2x.png
  04_View/HaVan/BaiTapView/Assets.xcassets/panda.imageset/panda@3x.png
  04_View/HaVan/BaiTapView/Assets.xcassets/talkImage.imageset/Contents.json
  04_View/HaVan/BaiTapView/Assets.xcassets/talkImage.imageset/talkImage.png
  04_View/HaVan/BaiTapView/Assets.xcassets/talkImage.imageset/talkImage@2x.png
  04_View/HaVan/BaiTapView/Assets.xcassets/talkImage.imageset/talkImage@3x.png
  04_View/HaVan/BaiTapView/BaiTapView.xcodeproj/project.pbxproj
  04_View/HaVan/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/HaVan/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/HaVan/BaiTapView/BaiTapView.xcodeproj/xcshareddata/xcschemes/BaiTapView.xcscheme
  04_View/HaVan/BaiTapView/BaiTapView/AppDelegate.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap1Va2/BaiTap1ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap1Va2/BaiTap2ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap1Va2/People.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap3/BaiTap3ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap3/BaiTap3ViewController.xib
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap4/BaiTap4ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap4/BaiTap4ViewController.xib
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap5/BaiTap5ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap5/BaiTap5ViewController.xib
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap6va7/BaiTap6Va7ViewController.swift
  04_View/HaVan/BaiTapView/BaiTapView/BaiTap6va7/BaiTap6Va7ViewController.xib
  04_View/HaVan/BaiTapView/BaiTapView/Base.lproj/LaunchScreen.storyboard
  04_View/HaVan/BaiTapView/BaiTapView/Info.plist
  04_View/HaVan/BaiTapView/BaiTapView/SceneDelegate.swift
Labels: 04 View

#57 Khanh Phan - Bai tap phan View
  04_View/KHANHPN/ViewExample/ViewExample.xcodeproj/project.pbxproj
  04_View/KHANHPN/ViewExample/ViewExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/KHANHPN/ViewExample/ViewExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/KHANHPN/ViewExample/ViewExample/AppDelegate.swift
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/Oval.imageset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/Oval.imageset/Oval@2x.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/Oval.imageset/Oval@3x.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/img-avatar.imageset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/img-avatar.imageset/avatar.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/monkey.imageset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/monkey.imageset/monkey.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/monkey.imageset/monkey@2x.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/monkey.imageset/monkey@3x.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/razer.imageset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/razer.imageset/razer.png
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/speech.imageset/Contents.json
  04_View/KHANHPN/ViewExample/ViewExample/Assets.xcassets/speech.imageset/speech.png
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap01/BaiTap01.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap02/BaiTap02.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap02/BaiTap02.xib
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap03/BaiTap03.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap03/BaiTap03.xib
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap04/BaiTap04.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap04/BaiTap04.xib
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap05/BaiTap05.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap05/BaiTap05.xib
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap06/BaiTap06.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap06/BaiTap06.xib
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap07/BaiTap07.swift
  04_View/KHANHPN/ViewExample/ViewExample/BaiTap07/BaiTap07.xib
  04_View/KHANHPN/ViewExample/ViewExample/Info.plist
  04_View/KHANHPN/ViewExample/ViewExample/SceneDelegate.swift
Labels: 04 View

#56 Hieu Nguyen Bai Tap 06
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06.xcodeproj/project.pbxproj
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/AppDelegate.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/Assets.xcassets/Contents.json
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap01/ChartView.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap01/ChartViewController.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap01/ChartViewController.xib
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap02/BaiTap02VC.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap02/BaiTap02VC.xib
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/BaiTap02/CircleView.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/Base.lproj/LaunchScreen.storyboard
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/Info.plist
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/SceneDelegate.swift
  06_Drawing/HieuNguyen/BaiTap06/BaiTap06/ViewController.swift
Labels: 06 Drawing

#69 HaVan - Bài tập CustomView - Bài 1 -> 4
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew.xcodeproj/project.pbxproj
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/AppDelegate.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/Contents.json
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/avatar.imageset/Contents.json
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/avatar.imageset/avatar.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/avatar.imageset/avatar@2x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/avatar.imageset/avatar@3x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/processImage.imageset/Contents.json
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/processImage.imageset/processImage.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/processImage.imageset/processImage@2x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/processImage.imageset/processImage@3x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/whiteImage.imageset/Contents.json
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/whiteImage.imageset/whiteImage.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/whiteImage.imageset/whiteImage@2x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Assets.xcassets/whiteImage.imageset/whiteImage@3x.png
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap1/BaiTap1ViewController.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap1/BaiTap1ViewController.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap1/MyClass.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap1/People.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap2/BaiTap2ViewController.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap2/BaiTap2ViewController.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap2/MySliderView.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap2/MySliderView.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap3/BaiTap3ViewController.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap3/BaiTap3ViewController.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap3/MyButtonView.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap3/NotificationNumber.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap4/BaiTap4ViewController.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap4/BaiTap4ViewController.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap4/MyDatePickerView.swift
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/BaiTap4/MyDatePickerView.xib
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Base.lproj/LaunchScreen.storyboard
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/Info.plist
  05_CustomView/HaVan/BaiTapCustomVIew/BaiTapCustomVIew/SceneDelegate.swift
Labels: 05 Custom View

#72 HUYENNGUYEN - Bài tập Swift Basic - 7 bài tập
  02_SwiftBasic/HuyenNguyen/Baitap2.1.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.1.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.2.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.2.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.3.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.3.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.4.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.4.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.5.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.5.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.6.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.6.playground/contents.xcplayground
  02_SwiftBasic/HuyenNguyen/Baitap2.7.playground/Contents.swift
  02_SwiftBasic/HuyenNguyen/Baitap2.7.playground/contents.xcplayground
Labels: 02 Basic Swift

#81 TamNguyen - Bai tap 04 - 7 bai tap View
  04_View/TAMNGUYEN.xcodeproj/project.pbxproj
  04_View/TamNguyen/BaiTapView/BaiTapView.xcodeproj/project.pbxproj
  04_View/TamNguyen/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  04_View/TamNguyen/BaiTapView/BaiTapView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  04_View/TamNguyen/BaiTapView/BaiTapView/AppDelegate.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/Contents.json
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/avatar.imageset/Contents.json
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/avatar.imageset/avatar.png
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/monkey.imageset/Contents.json
  04_View/TamNguyen/BaiTapView/BaiTapView/Assets.xcassets/monkey.imageset/monkey.png
  04_View/TamNguyen/BaiTapView/BaiTapView/BaiTap3/Baitap3.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/BaiTap3/Baitap3.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/BaiTap4/Baitap4.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/BaiTap4/Baitap4.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap2/Baitap2.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap2/Baitap2.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap5/Baitap5.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap5/Baitap5.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap6/Baitap6.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap6/Baitap6.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap7/Baitap7.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/Baitap7/Baitap7.xib
  04_View/TamNguyen/BaiTapView/BaiTapView/Base.lproj/LaunchScreen.storyboard
  04_View/TamNguyen/BaiTapView/BaiTapView/Base.lproj/Main.storyboard
  04_View/TamNguyen/BaiTapView/BaiTapView/Info.plist
  04_View/TamNguyen/BaiTapView/BaiTapView/SceneDelegate.swift
  04_View/TamNguyen/BaiTapView/BaiTapView/ViewController.swift
  04_View/TamNguyen/Baitap5/Baitap5.swift
  04_View/TamNguyen/Baitap5/Baitap5.xib
Labels: 04 View

#65 TrinNguyen - Phần Custom View - Bài 1-4
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView.xcodeproj/project.pbxproj
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/AppDelegate.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/Contents.json
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img-blue.imageset/Contents.json
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img-blue.imageset/img-blue.png
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img-gray.imageset/Contents.json
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img-gray.imageset/img-gray.png
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img_avatar_01.imageset/Contents.json
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Assets.xcassets/img_avatar_01.imageset/avatar.png
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap01/BaiTap01.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap01/MyAvatar.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap02/BaiTap02.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap02/BaiTap02.xib
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap02/MySliderView.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap02/MySliderView.xib
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap03/BaiTap03.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap03/MyButton.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap03/MyButton.xib
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap04/BaiTap04.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap04/BaiTap04.xib
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap04/MyDatePickerView.swift
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/BaiTap04/MyDatePickerView.xib
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Base.lproj/LaunchScreen.storyboard
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/Info.plist
  05_CustomView/TrinNguyen/BaiTapCustomView/BaiTapCustomView/SceneDelegate.swift
Labels: 05 Custom View

#97 TrungLeD - CustomeView - Bài 1 đến bài 4
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1.xcodeproj/project.pbxproj
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/AppDelegate.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/avatar.imageset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/avatar.imageset/avatar.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/blue.imageset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/blue.imageset/processImage@2x.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-blue.imageset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-blue.imageset/img-blue.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-blue.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-gray.imageset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-gray.imageset/img-gray.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/img-gray.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/white.imageset/Contents.json
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Assets.xcassets/white.imageset/whiteImage@2x.png
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Bai1/MyAvatar.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Bai1/ViewController.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Bai3/Bai3.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Bai3/Bai3ViewController.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Bai3/Bai3ViewController.xib
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Base.lproj/LaunchScreen.storyboard
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomPickerView/CustomPickerView.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomPickerView/CustomPickerView.xib
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomPickerView/CustomPickerViewController.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomPickerView/CustomPickerViewController.xib
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomeSlider/CustomSliderViewController.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomeSlider/CustomSliderViewController.xib
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomeSlider/MySliderView.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/CustomeSlider/MySliderView.xib
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/Info.plist
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/SceneDelegate.swift
  05_CustomView/TRUNGLE/Bai5.1/Bai5.1/avatar.png
Labels: 05 Custom View

#78 HaVan - Phần Drawing - Bài tập 1,2
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.pbxproj
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/AppDelegate.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/Contents.json
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap1/BaiTap1ViewController.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap1/BaiTap1ViewController.xib
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap1/GraphicsDraw.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap2/BaiTap2ViewController.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap2/BaiTap2ViewController.xib
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/BaiTap2/CircleGraphic.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/Base.lproj/LaunchScreen.storyboard
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/Info.plist
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/SceneDelegate.swift
  06_Drawing/HaVan/BaiTapDrawing/BaiTapDrawing/ViewController.swift
Labels: 06 Drawing

#75 MinhNguyen - Phan Drawing - Bai Tap 1-2
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.pbxproj
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/AppDelegate.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/Assets.xcassets/Contents.json
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/BaiTap1/BaiTap1ViewController.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/BaiTap1/BaiTap1ViewController.xib
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/BaiTap1/ColumnChartView.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/BaiTap2/BaiTap2View.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/BaiTap2/BaiTap2ViewController.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/Base.lproj/LaunchScreen.storyboard
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/Info.plist
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/SceneDelegate.swift
  06_Drawing/MINHNGUYEN T/BaiTapDrawing/BaiTapDrawing/ViewController.swift
Labels: 06 Drawing

#64 TamNguyen - Bai tap 5 - Custom View
  05_CustomView/TamNguyen/Bai5/Bai5.xcodeproj/project.pbxproj
  05_CustomView/TamNguyen/Bai5/Bai5.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/TamNguyen/Bai5/Bai5.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/TamNguyen/Bai5/Bai5/AppDelegate.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/Contents.json
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/download.imageset/Contents.json
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/download.imageset/download.png
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/img-blue.imageset/Contents.json
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/img-blue.imageset/img-blue.png
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/img-gray.imageset/Contents.json
  05_CustomView/TamNguyen/Bai5/Bai5/Assets.xcassets/img-gray.imageset/img-gray.png
  05_CustomView/TamNguyen/Bai5/Bai5/Bai1/Bai1ViewController.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai1/Bai1ViewController.xib
  05_CustomView/TamNguyen/Bai5/Bai5/Bai1/MyAvatar.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai2/Bai2ViewController.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai2/Bai2ViewController.xib
  05_CustomView/TamNguyen/Bai5/Bai5/Bai2/MySliderView.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai2/MySliderView.xib
  05_CustomView/TamNguyen/Bai5/Bai5/Bai3/Bai3ViewController.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai3/CustomView.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai4/Bai4ViewController.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai4/Bai4ViewController.xib
  05_CustomView/TamNguyen/Bai5/Bai5/Bai4/DatePickerView.swift
  05_CustomView/TamNguyen/Bai5/Bai5/Bai4/DatePickerView.xib
  05_CustomView/TamNguyen/Bai5/Bai5/Base.lproj/LaunchScreen.storyboard
  05_CustomView/TamNguyen/Bai5/Bai5/Info.plist
  05_CustomView/TamNguyen/Bai5/Bai5/SceneDelegate.swift
Labels: 05 Custom View

#67 MinhNguyen - Phần Custom View - Bài Tập 1-4
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1.xcodeproj/project.pbxproj
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/AppDelegate.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/Contents.json
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/avartar.imageset/Contents.json
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/avartar.imageset/avartar.png
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/image_blue.imageset/Contents.json
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/image_blue.imageset/image_blue@2x.png
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/image_while.imageset/Contents.json
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Assets.xcassets/image_while.imageset/image_while@2x.png
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap1/BaiTap1ViewController.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap1/BaiTap1ViewController.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap1/UserView.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap2/BaiTap2ViewController.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap2/BaiTap2ViewController.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap2/MySliderView.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap2/MySliderView.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap3/BagdeNumberButton.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap3/BaiTap3ViewController.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap3/BaiTap3ViewController.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap4/BaiTap4ViewController.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap4/BaiTap4ViewController.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap4/DatePickerView.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/BaiTap4/DatePickerView.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Base.lproj/LaunchScreen.storyboard
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/DemoViewController.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/DemoViewController.xib
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/Info.plist
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/SceneDelegate.swift
  05_CustomView/MINHNGUYEN T/BaiTapCustomView1/BaiTapCustomView1/ViewController.swift
Labels: 05 Custom View

#87 TrinNguyen - Phần Draw - Bài 1,2
  06_Drawing/BaiTapDraw/BaiTapDraw.xcodeproj/project.pbxproj
  06_Drawing/BaiTapDraw/BaiTapDraw.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/BaiTapDraw/BaiTapDraw.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/BaiTapDraw/BaiTapDraw/AppDelegate.swift
  06_Drawing/BaiTapDraw/BaiTapDraw/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/BaiTapDraw/BaiTapDraw/Assets.xcassets/Contents.json
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap01/BaiTap01.swift
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap01/ChartView.swift
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap01/ChartView.xib
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap02/BaiTap02.swift
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap02/CircleCustom.xib
  06_Drawing/BaiTapDraw/BaiTapDraw/BaiTap02/CircleCustomView.swift
  06_Drawing/BaiTapDraw/BaiTapDraw/Info.plist
  06_Drawing/BaiTapDraw/BaiTapDraw/SceneDelegate.swift
Labels: 06 Drawing

#85 TamNguyen - Bai tap 6 - Drawing
  06_Drawing/TamNguyen/Bai6/Bai6.xcodeproj/project.pbxproj
  06_Drawing/TamNguyen/Bai6/Bai6.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/TamNguyen/Bai6/Bai6.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/TamNguyen/Bai6/Bai6/AppDelegate.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/TamNguyen/Bai6/Bai6/Assets.xcassets/Contents.json
  06_Drawing/TamNguyen/Bai6/Bai6/Bai1/Bai1ViewController.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Bai1/ColumnView.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Bai1/LineView.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Bai2/Bai2ViewController.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Bai2/CircleView.swift
  06_Drawing/TamNguyen/Bai6/Bai6/Base.lproj/LaunchScreen.storyboard
  06_Drawing/TamNguyen/Bai6/Bai6/Info.plist
  06_Drawing/TamNguyen/Bai6/Bai6/SceneDelegate.swift
  06_Drawing/TamNguyen/Bai6/Bai6/ViewController.swift
Labels: 06 Drawing

#116 HUYENNGUYEN - Phần Custom View - Bài 1 đến 4
  05_CustomView/THANHHUYEN/BaitapCustomView.xcodeproj/project.pbxproj
  05_CustomView/THANHHUYEN/BaitapCustomView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/THANHHUYEN/BaitapCustomView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/THANHHUYEN/BaitapView/AppDelegate.swift
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/Contents.json
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_blue.imageset/Contents.json
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_blue.imageset/img_triangle_blue@2x.png
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_blue.imageset/img_triangle_blue@3x.png
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_white.imageset/Contents.json
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_white.imageset/img_triangle_white@2x.png
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/img_triangle_white.imageset/img_triangle_white@3x.png
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/user.imageset/Contents.json
  05_CustomView/THANHHUYEN/BaitapView/Assets.xcassets/user.imageset/user@2x.png
  05_CustomView/THANHHUYEN/BaitapView/Bai01/Bai01ViewController.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai01/Bai01ViewController.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai01/UserView.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai02/Bai02ViewController.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai02/Bai02ViewController.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai02/BallView.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai02/SliderView.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai02/SliderView.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai02ViewController.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai02ViewController.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai03/BadgeNumberButton.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai03/BagdeNumber.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai03/Bai03ViewController.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai03/Bai03ViewController.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai04/Bai04ViewController.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai04/Bai04ViewController.xib
  05_CustomView/THANHHUYEN/BaitapView/Bai04/DatePicker.swift
  05_CustomView/THANHHUYEN/BaitapView/Bai04/DatePicker.xib
  05_CustomView/THANHHUYEN/BaitapView/Base.lproj/LaunchScreen.storyboard
  05_CustomView/THANHHUYEN/BaitapView/Base.lproj/Main.storyboard
  05_CustomView/THANHHUYEN/BaitapView/Info.plist
  05_CustomView/THANHHUYEN/BaitapView/SceneDelegate.swift
  05_CustomView/THANHHUYEN/BaitapView/ViewController.swift
Labels: 05 Custom View

#117 HUYENNGUYEN - Phần Drawing - Bài 1 và 2
  06_Drawing/HUYENNGUYEN/Drawing.xcodeproj/project.pbxproj
  06_Drawing/HUYENNGUYEN/Drawing.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  06_Drawing/HUYENNGUYEN/Drawing.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  06_Drawing/HUYENNGUYEN/Drawing/AppDelegate.swift
  06_Drawing/HUYENNGUYEN/Drawing/Assets.xcassets/AppIcon.appiconset/Contents.json
  06_Drawing/HUYENNGUYEN/Drawing/Assets.xcassets/Contents.json
  06_Drawing/HUYENNGUYEN/Drawing/Bai01/Bai01.swift
  06_Drawing/HUYENNGUYEN/Drawing/Bai01/Bai01View.swift
  06_Drawing/HUYENNGUYEN/Drawing/Bai01/Bai01ViewController.swift
  06_Drawing/HUYENNGUYEN/Drawing/Bai02/Bai02View.swift
  06_Drawing/HUYENNGUYEN/Drawing/Bai02/Bai02ViewController.swift
  06_Drawing/HUYENNGUYEN/Drawing/Base.lproj/LaunchScreen.storyboard
  06_Drawing/HUYENNGUYEN/Drawing/Base.lproj/Main.storyboard
  06_Drawing/HUYENNGUYEN/Drawing/Info.plist
  06_Drawing/HUYENNGUYEN/Drawing/SceneDelegate.swift
  06_Drawing/HUYENNGUYEN/Drawing/ViewController.swift
Labels: 06 Drawing
