Repository blkbrds/intern16-practice, pull requests merged in 2020-09, with the labels that each got.

#138 NGUYENHUYEN - Collection View - Bài 1 đến 4
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView.xcodeproj/project.pbxproj
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/AppDelegate.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/AppIcon.appiconset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image1 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image1 .imageset/image1 @2x-1.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image1 .imageset/image1 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image10 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image10 .imageset/image10 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image2 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image2 .imageset/image2 @2x-1.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image2 .imageset/image2 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image3 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image3 .imageset/image3 @2x-1.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image3 .imageset/image3 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image4 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image4 .imageset/image4 @2x-1.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image4 .imageset/image4 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image5 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image5 .imageset/image5 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image6 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image6 .imageset/image6 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image7 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image7 .imageset/image7 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image8 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image8 .imageset/image8 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image9 .imageset/Contents.json
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Assets.xcassets/image9 .imageset/image9 @2x.jpg
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 01/Bai01CollectionViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 01/Bai01CollectionViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 01/Bai01ViewController.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 01/Bai01ViewController.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 02/Bai02ViewController.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 02/Bai02ViewController.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 02/CustomCollectionViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 02/CustomCollectionViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 02/PinterestLayout.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Bai03CollectionViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Bai03CollectionViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Bai03ViewController.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Bai03ViewController.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Header/HeaderCollectionReusableView.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 03/Header/HeaderCollectionReusableView.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/Controller/Bai04ViewController.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/Controller/Bai04ViewController.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Component/ScrollCollectionViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Component/ScrollCollectionViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Layout main/MainTableViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Layout main/MainTableViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Slider/SliderTableViewCell.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Bai 04/View/Slider/SliderTableViewCell.xib
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/Info.plist
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/SceneDelegate.swift
  12_CollectionView/HUYENNGUYEN/CollectionView/CollectionView/ViewController.swift
Labels: 12 CollectionView

#121 MinhNguyen - TableView - BaiTap 1-12
  11_TableView/MinhNguyen T/TableView/TableView.xcodeproj/project.pbxproj
  11_TableView/MinhNguyen T/TableView/TableView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  11_TableView/MinhNguyen T/TableView/TableView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  11_TableView/MinhNguyen T/TableView/TableView/AppDelegate.swift
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/AppIcon.appiconset/Contents.json
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/Contents.json
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/avartar.imageset/Contents.json
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/avartar.imageset/avartar.png
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/ga.imageset/Contents.json
  11_TableView/MinhNguyen T/TableView/TableView/Assets.xcassets/ga.imageset/ga.jpg
  11_TableView/MinhNguyen T/TableView/TableView/Bai10/BaiTap10ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/Bai10/BaiTap10ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/Bai10/Contact.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap1/BaiTap1ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap1/BaiTap1ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/Controller/BaiTap11ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/Controller/BaiTap11ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/Model/Project.plist
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/Model/ProjectData.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/View/Bai11TableViewCell.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap11/View/Bai11TableViewCell.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap12/BaiTap12ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap12/BaiTap12ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap2/BaiTap2ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap2/BaiTap2ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap2/Data.plist
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap2/DetailViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap2/DetailViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/Controller/BaiTap4ViewController.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/Controller/BaiTap4ViewController.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/Controller/ListData.plist
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/View/CusTomUITableViewCell.swift
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/View/CusTomUITableViewCell.xib
  11_TableView/MinhNguyen T/TableView/TableView/BaiTap4/View/ListNameLabel.swift
  11_TableView/MinhNguyen T/TableView/TableView/Base.lproj/LaunchScreen.storyboard
  11_TableView/MinhNguyen T/TableView/TableView/Info.plist
  11_TableView/MinhNguyen T/TableView/TableView/ViewController.swift
Labels: 11 TableView

#127 TrungLeD - CollectionView
  12_CollectionView/TRUNGLE/CollectionView/CollectionView.xcodeproj/project.pbxproj
  12_CollectionView/TRUNGLE/CollectionView/CollectionView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  12_CollectionView/TRUNGLE/CollectionView/CollectionView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/AppDelegate.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Assets.xcassets/AppIcon.appiconset/Contents.json
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Assets.xcassets/Contents.json
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai2/HomeCollectionViewCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai2/HomeCollectionViewCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai2/HomeViewController.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai2/HomeViewController.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai2/PinterestLayout.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/Bai4TableViewCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/Bai4TableViewCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/Bai4ViewController.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/Bai4ViewController.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/SliderTableViewCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/SliderTableViewCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/bai4HomeCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Bai4/bai4HomeCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Base.lproj/LaunchScreen.storyboard
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Base.lproj/Main.storyboard
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/Info.plist
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/SceneDelegate.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/ViewController.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai1/Bai1CollectionViewController.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai1/Bai1CollectionViewController.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai1/HomeCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai1/HomeCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai1/User.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3CollectionViewCell.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3CollectionViewCell.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3SectionHeader.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3SectionHeader.xib
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3ViewController.swift
  12_CollectionView/TRUNGLE/CollectionView/CollectionView/bai3/Bai3ViewController.xib
Labels: 12 CollectionView

#163 HUYENNGUYEN - Phần API - Bài 1 -> 5
  15_API/HUYENNGUYEN/API/API.xcodeproj/project.pbxproj
  15_API/HUYENNGUYEN/API/API.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  15_API/HUYENNGUYEN/API/API.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  15_API/HUYENNGUYEN/API/API/AppDelegate/AppDelegate.swift
  15_API/HUYENNGUYEN/API/API/AppDelegate/SceneDelegate.swift
  15_API/HUYENNGUYEN/API/API/Assets.xcassets/AppIcon.appiconset/Contents.json
  15_API/HUYENNGUYEN/API/API/Assets.xcassets/Contents.json
  15_API/HUYENNGUYEN/API/API/Bai 1-2/Cell/ImageTableViewCell.swift
  15_API/HUYENNGUYEN/API/API/Bai 1-2/Cell/ImageTableViewCell.xib
  15_API/HUYENNGUYEN/API/API/Bai 1-2/Cell/ImageTableViewCellViewModel.swift
  15_API/HUYENNGUYEN/API/API/Bai 1-2/Object/Audio.swift
  15_API/HUYENNGUYEN/API/API/Bai 1-2/VC/BasicViewController.swift
  15_API/HUYENNGUYEN/API/API/Bai 1-2/VC/BasicViewController.xib
  15_API/HUYENNGUYEN/API/API/Bai 1-2/VC/BasicViewModel.swift
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/Cells/YoutubeTableViewCell.swift
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/Cells/YoutubeTableViewCell.xib
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/Cells/YoutubeTableViewCellViewModel.swift
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/MasterViewController.swift
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/MasterViewController.xib
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Controllers/MasterViewModel.swift
  15_API/HUYENNGUYEN/API/API/Bai 3 - 5/Object/Youtube.swift
  15_API/HUYENNGUYEN/API/API/CoreAPI/API.Image.swift
  15_API/HUYENNGUYEN/API/API/CoreAPI/API.Manager.swift
  15_API/HUYENNGUYEN/API/API/CoreAPI/API.Request.swift
  15_API/HUYENNGUYEN/API/API/CoreAPI/API.Youtube.swift
  15_API/HUYENNGUYEN/API/API/CoreAPI/API.swift
  15_API/HUYENNGUYEN/API/API/Ext/Data.Ext.swift
  15_API/HUYENNGUYEN/API/API/Ext/UIImageView.Ext.swift
  15_API/HUYENNGUYEN/API/API/Info.plist
Labels: 15 API

#53 Hieu Nguyen - Bai tap 05
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05.xcodeproj/project.pbxproj
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/AppDelegate.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/AppIcon.appiconset/Contents.json
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/Contents.json
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/backgroundSlider.imageset/107377690_1352970414914240_6264990160733225993_n.png
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/backgroundSlider.imageset/Contents.json
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/defaultProfileImage.imageset/Contents.json
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage.png
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage@2x.png
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/defaultProfileImage.imageset/defaultProfileImage@3x.png
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/valueSlider.imageset/107421378_585770688767962_957187963596686199_n.png
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Assets.xcassets/valueSlider.imageset/Contents.json
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Base.lproj/LaunchScreen.storyboard
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/Info.plist
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/SceneDelegate.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/View/BadgeButton.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/View/DatePickerView.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/View/MyAvatarView.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/View/SliderView.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap01VC.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap01VC.xib
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap02VC.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap02VC.xib
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap03VC.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap03VC.xib
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap04VC.swift
  05_CustomView/HieuNguyen/BaiTap05/BaiTap05/ViewController/BaiTap04VC.xib
Labels: 05 Custom View

#164 TrungLeD - API
  15_API/TRUNGLE/BaiTap_api/BaiTap_api.xcodeproj/project.pbxproj
  15_API/TRUNGLE/BaiTap_api/BaiTap_api.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  15_API/TRUNGLE/BaiTap_api/BaiTap_api.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  15_API/TRUNGLE/BaiTap_api/BaiTap_api.xcworkspace/contents.xcworkspacedata
  15_API/TRUNGLE/BaiTap_api/BaiTap_api.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/AppDelegate.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Assets.xcassets/AppIcon.appiconset/Contents.json
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Assets.xcassets/Contents.json
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Assets.xcassets/ic-fresh.imageset/Contents.json
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Assets.xcassets/ic-fresh.imageset/ic-fresh.png
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Base.lproj/LaunchScreen.storyboard
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Base.lproj/Main.storyboard
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/Cell/Bai2CellViewModel.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/Cell/Bai2TableViewCell.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/Cell/Bai2TableViewCell.xib
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/HomeViewController.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/HomeViewController.xib
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai1_2/HomeViewModel.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Bai3ViewController.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Bai3ViewController.xib
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Bai3ViewModel.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Cell/VideoTableCellViewModel.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Cell/VideoTableViewCell.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Controller/Bai3_4_5/Cell/VideoTableViewCell.xib
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Info.plist
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/APIManager/Core/API.Image.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/APIManager/Core/API.Manager.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/APIManager/Core/API.Request.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/APIManager/Core/API.VideoYoutube.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/APIManager/Core/API.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/Ext/Data.Ext.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/ObjectMapper/NextPageYoutube.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/ObjectMapper/VideosYouTube.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/Model/Objects/Music.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/SceneDelegate.swift
  15_API/TRUNGLE/BaiTap_api/BaiTap_api/ViewController.swift
  15_API/TRUNGLE/BaiTap_api/Podfile
  15_API/TRUNGLE/BaiTap_api/Podfile.lock
Labels: 15 API

#115 TRINNGUYENX - Protocol - BaiTap 1,3,4,5
  10_Protocol/BaiTapProtocol/BaiTap01.playground/Contents.swift
  10_Protocol/BaiTapProtocol/BaiTap01.playground/contents.xcplayground
  10_Protocol/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.pbxproj
  10_Protocol/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  10_Protocol/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  10_Protocol/BaiTapProtocol/BaiTapProtocol/AppDelegate.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/Assets.xcassets/AppIcon.appiconset/Contents.json
  10_Protocol/BaiTapProtocol/BaiTapProtocol/Assets.xcassets/Contents.json
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/DistrictViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/DistrictViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/LocationViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/LocationViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/ProvinceViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/ProvinceViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/RegionViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap03/RegionViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap04/SeachViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap04/SeachViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap05/CalculateViewController.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap05/CalculateViewController.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap05/Calculator.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap05/CustomViewCalculate.swift
  10_Protocol/BaiTapProtocol/BaiTapProtocol/BaiTap05/CustomViewCalculate.xib
  10_Protocol/BaiTapProtocol/BaiTapProtocol/Info.plist
  10_Protocol/BaiTapProtocol/BaiTapProtocol/SceneDelegate.swift
Labels: 10 Protocol
